*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.imgslider{
    width: 75%;
    height: 600px;
    background-color: blueviolet;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scdslider{
    width: 75%;
    height: 600px;
    height: 600px;
    background-color: blueviolet;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.thlider{
    width: 75%;
    height: 600px;
    height: 600px;
    background-color: blueviolet;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.forslider{
    width: 75%;
    height: 600px;
    height: 600px;
    background-color: blueviolet;;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fifslider{
    width: 75%;
    height: 600px;
    height: 600px;
    background-color: blueviolet;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar{
    padding-right:30px ;
    padding-left: 30px;

}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.log a{

margin-bottom: 30%;
}
li{
    list-style: none;
    display: inline-block;
    
}
li a{
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
color: white;}
li a:hover{
    background-color: rgb(172, 48, 255);
    color: black;
}
 .pro{
     margin-left: 10px;
     border: 10px;
     padding: 10px;
     width: 90px;
     background-color: rgb(117, 0, 226);
     color: white;
     background-color: rgba(152, 12, 207, 0.87);
     opacity: 0px;
     border-radius: 20px;
 margin-top: 10px;}
 .pro:hover{
    background-color: rgb(155, 81, 216);
    color: black;
 }   
    .a{
        width: 20px;
        height: 20px;
        color: white;}
.a:hover{
    background-color: rgb(178, 112, 216);
    color: black;
}
        
.one{
    background-color:blueviolet;
    border-color: blueviolet;
    color: white;
}
.one:hover{
    background-color: rgb(174, 112, 216);
    color: black;
}
.b{
    width: 30px;
    margin-top: 15px;
}
.b:hover{
    background-color: rgb(105, 20, 185);
    color: black;
}
.head{
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding-top: 70px;
   padding-left: 30px;
   font-size: 44px;
}
.h{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.img{
   width: 300px;
   align-items: flex-end;
   margin-left: 500px;

margin-top: -300px;
}

div{
    display: inline-block;
}
.but{
    border-radius: 0px;
    background-color: blueviolet;
    color: white;
    border: 2px solid white;
    width: 70px;
}
.but:hover{background-color: blueviolet;
        color: black;}
 .vedio{
    width: 60px;
    align-items: center;
    margin-top: 5px;
 }       
 hr{
    width: 15px;
    margin-left: 120px;
 }
 h3{
    width: 15px;
    margin-left: 150px;
    padding-bottom:14px;
    color: white;
    font-size: 10px;
 }
 .search{
    width: 20px;
 }
 .ab{height: 50px;
    border-color: white;
    background-color:  blueviolet;
    color: white;
    box-shadow: rgb(0, 0, 0) 100px,90px,80px,90px;
    box-shadow: 100px;
    
 }
 .ab:hover{
    border-color: blueviolet;
 }
 h4{
    color: rgb(39, 12, 63);
 }
 h5{
    justify-content: space-between;
    text-align: end;
    margin-top: 8%;
    font-size: 20px;
    color: rgb(65, 30, 97);
 }
 
 .fa-circle{display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;height: 50px;
    width: 100px;
    
 }
